Flask
Werkzeug
Flask-SQLAlchemy
SQLAlchemy
Flask-Login
bcrypt
Flask-WTF
email-validator
python-dateutil
pandas
numpy
matplotlib
seaborn
Flask-RESTful
python-dotenv
pytest
gunicorn
Flask-SQLAlchemy
PyMySQL
